In [1]:
import pandas as pd

In [2]:
database = pd.read_csv("CosmicGenomeScreensMutantExport.tsv", delimiter = '\t')

In [4]:
database.head()

,Gene name,Accession Number,Gene CDS length,HGNC ID,Sample name,ID_sample,ID_tumour,Primary site,Site subtype 1,Site subtype 2,...,Mutation strand,SNP,FATHMM prediction,FATHMM score,Mutation somatic status,Pubmed_PMID,ID_STUDY,Sample Type,Tumour origin,Age
0,TRIO,ENST00000344204,9294,12303,MZ7-mel,753596,672566,skin,NS,NS,...,+,n,PATHOGENIC,0.98488,Confirmed somatic variant,NaN,30.0,cell-line,metastasis,NaN
1,ABCC4_ENST00000376887,ENST00000376887,3978,NaN,05-165K5,2575184,2436521,prostate,NS,NS,...,-,NaN,NaN,NaN,Confirmed somatic variant,26928463.0,NaN,autopsy - NOS,metastasis,69.0
2,TP53_ENST00000413465,ENST00000413465,858,11998,PD11327a,1744637,1649978,breast,NS,NS,...,-,n,PATHOGENIC,0.99623,Confirmed somatic variant,NaN,652.0,NS,NS,NaN
3,EXD3,ENST00000340951,2274,26023,HUB-02-C2-098,2607142,2466854,large_intestine,NS,NS,...,-,n,NEUTRAL,0.02736,Confirmed somatic variant,NaN,670.0,organoid culture,NS,NaN
4,ELMO2,ENST00000396391,2163,17233,HUB-02-B2-113,2607139,2466851,large_intestine,NS,NS,...,-,n,NEUTRAL,0.22837,Confirmed somatic variant,NaN,670.0,organoid culture,NS,NaN

In [5]:
list(database)

['Gene name',
 'Accession Number',
 'Gene CDS length',
 'HGNC ID',
 'Sample name',
 'ID_sample',
 'ID_tumour',
 'Primary site',
 'Site subtype 1',
 'Site subtype 2',
 'Site subtype 3',
 'Primary histology',
 'Histology subtype 1',
 'Histology subtype 2',
 'Histology subtype 3',
 'Genome-wide screen',
 'Mutation ID',
 'Mutation CDS',
 'Mutation AA',
 'Mutation Description',
 'Mutation zygosity',
 'LOH',
 'GRCh',
 'Mutation genome position',
 'Mutation strand',
 'SNP',
 'FATHMM prediction',
 'FATHMM score',
 'Mutation somatic status',
 'Pubmed_PMID',
 'ID_STUDY',
 'Sample Type',
 'Tumour origin',
 'Age']

In [6]:
database['Mutation CDS'].head()

0          c.5932G>A
1    c.3654_3655insA
2           c.581T>G
3           c.139C>T
4          c.1527A>G
Name: Mutation CDS, dtype: object

In [7]:
database['Mutation AA'].head()

0        p.V1978M
1    p.I1219fs*22
2         p.L194R
3          p.R47W
4         p.R509R
Name: Mutation AA, dtype: object

In [13]:
hg38_gtf = pd.read_csv('/Users/lincoln.harris/code/SNP_calling_pipeline/hg38-plus.gtf', delimiter = '\t', header = None)
hg38_gtf.head()

,0,1,2,3,4,5,6,7,8
0,chr1,unknown,exon,11874,12227,.,+,.,"gene_id ""DDX11L1""; gene_name ""DDX11L1""; transc..."
1,chr1,unknown,exon,12613,12721,.,+,.,"gene_id ""DDX11L1""; gene_name ""DDX11L1""; transc..."
2,chr1,unknown,exon,13221,14409,.,+,.,"gene_id ""DDX11L1""; gene_name ""DDX11L1""; transc..."
3,chr1,unknown,exon,14362,14829,.,-,.,"gene_id ""WASH7P""; gene_name ""WASH7P""; transcri..."
4,chr1,unknown,exon,14970,15038,.,-,.,"gene_id ""WASH7P""; gene_name ""WASH7P""; transcri..."

In [21]:
hg38_gtf[0]
hg38_gtf[3]

0          11874
1          12613
2          13221
3          14362
4          14970
5          15796
6          16607
7          16858
8          17233
9          17369
10         17369
11         17369
12         17369
13         17606
14         17915
15         18268
16         24738
17         29321
18         30366
19         30366
20         30366
21         30366
22         34611
23         34611
24         34611
25         35277
26         35277
27         35277
28         35721
29         35721
           ...
1066011        1
1066012        1
1066013        1
1066014        1
1066015        1
1066016        1
1066017        1
1066018        1
1066019        1
1066020        1
1066021        1
1066022        1
1066023        1
1066024        1
1066025        1
1066026        1
1066027        1
1066028        1
1066029        1
1066030        1
1066031        1
1066032        1
1066033        1
1066034        1
1066035        1
1066036        1
1066037        1
1066038        1
1066039        1
1066040        1
Name: 3, Length: 1066041, dtype: int64

In [32]:
df_found = hg38_gtf.where(hg38_gtf[4] == 12721) # works
df_found = df_found.dropna()
df_found[8]

myStr = str(df_found[8])
myStr = myStr.split(';')[1]
myStr = myStr.strip(' gene_name')
myStr = myStr.strip(' ')
myStr = myStr.strip('"')
myStr # perfect!!!

'DDX11L1'

In [10]:
l = ['a','b','c','d']

In [11]:
ls = pd.Series(l)

In [12]:
ls

0    a
1    b
2    c
3    d
dtype: object

In [68]:
hg38_gtf = pd.read_csv('/Users/lincoln.harris/code/SNP_calling_pipeline/hg38-plus.gtf', delimiter = '\t', header = None)
hg38_gtf.head()

,0,1,2,3,4,5,6,7,8
0,chr1,unknown,exon,11874,12227,.,+,.,"gene_id ""DDX11L1""; gene_name ""DDX11L1""; transc..."
1,chr1,unknown,exon,12613,12721,.,+,.,"gene_id ""DDX11L1""; gene_name ""DDX11L1""; transc..."
2,chr1,unknown,exon,13221,14409,.,+,.,"gene_id ""DDX11L1""; gene_name ""DDX11L1""; transc..."
3,chr1,unknown,exon,14362,14829,.,-,.,"gene_id ""WASH7P""; gene_name ""WASH7P""; transcri..."
4,chr1,unknown,exon,14970,15038,.,-,.,"gene_id ""WASH7P""; gene_name ""WASH7P""; transcri..."

In [72]:
chrom = 10
lPosition = '3129929'
rPosition = '3129929'

chromStr = 'chr' + str(chrom)
#print(chromStr)

hg38_gtf_filt = hg38_gtf.where(hg38_gtf[0] == chromStr).dropna()
hg38_gtf_filt = hg38_gtf_filt.where(hg38_gtf_filt[3] <= int(lPosition)).dropna() # lPos good
hg38_gtf_filt = hg38_gtf_filt.where(hg38_gtf_filt[4] >= int(rPosition)).dropna() # rPos good

hg38_gtf_filt

,0,1,2,3,4,5,6,7,8
97898,chr10,unknown,CDS,3129819.0,3129983.0,.,+,0,"gene_id ""PFKP""; gene_name ""PFKP""; p_id ""P3960""..."
97899,chr10,unknown,CDS,3129819.0,3129983.0,.,+,0,"gene_id ""PFKP""; gene_name ""PFKP""; p_id ""P22695..."
97900,chr10,unknown,exon,3129819.0,3129983.0,.,+,.,"gene_id ""PFKP""; gene_name ""PFKP""; p_id ""P3960""..."
97901,chr10,unknown,exon,3129819.0,3129983.0,.,+,.,"gene_id ""PFKP""; gene_name ""PFKP""; p_id ""P22695..."

In [81]:
hg38_gtf_filt.iloc[0][8]

'gene_id "PFKP"; gene_name "PFKP"; p_id "P3960"; transcript_id "NM_001242339"; tss_id "TSS22334";'

In [82]:
l1 = ['a','b','c','d','e']
l2 = ['d','e','f','g','h']
shared = list(set(l1) & set(l2))
shared

['e', 'd']

In [83]:
l3 = ['a','b','c','d','d', 'd', 'd', 'e']
l4 = ['d','d','d','e','f', 'g', 'h', 'i']
shared = list(set(l3) & set(l4))
shared

['e', 'd']

In [2]:
foo = pd.read_csv('/Users/lincoln.harris/code/SNP_calling_pipeline/py_notebooks/foo.csv')

In [3]:
foo

,Unnamed: 0,0,1,2,3,4,5,6,7,8,...,301,302,303,304,305,306,307,308,309,310
0,A1_B000860,EEF1D,EBNA1BP2,NaN,ANXA2P2,NAPSA,NaN,ZDHHC12,HLA-B,HLA-H,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,A1_B000863,ATIC,GOT2,EBNA1BP2,SART3,PEX16,ANXA2P2,TIMMDC1,NaN,NAPSA,...,MECR,AMOTL1,LLGL2,ABT1,COA7,CRTAP,SUCO,ATP5A1,SDC4,ALAS1
2,A1_B000883,LY6E,RPS16,ANXA2P2,BST2,TRMT10C,IWS1,NOTCH2,RPS16,SIPA1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
import multiprocessing as mp

In [5]:
mp.process()

TypeError: 'module' object is not callable